<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.css">
</head>
<body>
	<section class="hero is-danger is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        You must be authenticated to view this page
      </h1>
      <a href="/admin" class="button is-primary is-large">Login</a>
    </div>
  </div>
</section>
</body>
</html>